<!DOCTYPE html> 
<html>
<head>
    <title>Create a post</title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<% include topnav %>
<form action='/admin/post' method='post'>
    <span class="title">
        <input id="titleBox" type='text' name='post[title]' size="60" placeholder="Post title" />
    </span>
    <input id="publish" type='submit' value='Publish' />
    <div class="postBody">
        <textarea id="postingBox" name='post[body]'></textarea>
    </div>
</form>
</body>
</html>