<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>

<h1>Writer Admin</h1>
<% include topnav %>
<div class="shell">

    <h2>Sign In</h2>

    <% include messages %>
        <form action='/login' method='post'>
            <p>
            <div>
                <label>Email or Username</label>
            </div>
                <input id="email" class="email" type='text' name='username' size="40" />
            </p>
            <label>Password</label>
            <p>
                <input id="password" class="password" type='password' name='password' size="40" />
            </p>
            <p>
                <input id="signin" type='submit' value='Login' />
            </p>
        </form>
</div>
</body>
</html>
