<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='/js/admin.js'></script>
</head>
<div>Welcome to the blog posts admin!</div>

<button id="newPost">New post</button>
</html>