<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='/js/admin.js'></script>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>
<% include topnav %>
<div id="welcome">Blog posts admin</div>

<button id="newPost">New post</button>
<table class="blog-post-table">
<% posts.forEach(function(post) { %>
    <tr id='<%= post.id %>'>
        <td class="blog-post">
            <div class="post-title">
                <%= post.title %>
            </div>
            <div class="user-actions">
                <a href="editor/<%= post.id %>">Edit</a> |
                <a kind="delete" data-id='<%= post.id %>'>Delete</a>
            </div>
        </td>
    </tr>
<% }) %>
</table>
</body>
</html>