<% if (locals.user) { %>
    <div id='topnav'>
        <div>
            Welcome, <%= locals.user.username  %>
            <a href='/admin/posts'>Posts</a>
            <a href='/logout'>Sign Out</a>
        </div>
    </div>
<% } else { %>
    <div id='topnav'>
        You are not logged in.
    </div>
<% } %>