<html>
<head>
    <link rel='stylesheet' href='/stylesheets/blog.css' />
</head>
<header>
    <h1 id="blog-title">
    Larry Kooper
    </h1>
</header>
<div id="contents">
    <% posts.forEach(function(post) { %>
        <div class='entry'>
            <div class="entry-meta">
                 <%= locals.date(post.createdAt) %>
            </div>
            <div class="entry-main">
                <h2 class="entry-title">
                    <%= post.title %>
                </h2>
                <div class="posting">
                    <%- post.body %>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</html>